


#top-jumbotron {
    margin-top: $sectionSpacer;
    height: 500px;

    .l-jumbotron {
        height: 500px;
        width: 50%;
        background-color: yellow;
    }
    .r-jumbotron {
        height: 500px;
        width: 50%;
        background-color: orange;
    }
}
